
.custom-btn{
    margin-top: 10px;
    width: 60px;
    border-radius: 10px;
    padding: 4px;
    background-color: yellowgreen;
    color: #fff;
    border: none;
}
.custom-btn:hover {
    background-color:green;
}
.custom-btn:focus{
      outline: none;
}

@media (max-width: 570px) {
    .custom-btn{
        margin-top: 20px;
        width: 130px;
        padding: 13px;
        font-size: 24px;
    }
}
